<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LibGit2Sharp" version="0.20.0.0" targetFramework="net452" />
  <package id="Mercurial.Net" version="1.1.1.607" targetFramework="net452" />
  <package id="SharpSvn.1.9-x86" version="1.8991.3368.110" targetFramework="net452" />
</packages>