<div class="container">
    <div class="jumbotron">
        <h1><i class="fa fa-line-chart"></i> OO-Metrics</h1>
        <p>A simple and powerful tool to automate source code mining and to extract object-oriented metrics for data analysis.</p>
        <!--
        <p><a class="btn btn-primary btn-lg">Learn more</a></p>
        -->
    </div>
</div>
