@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1><i class="fa fa-line-chart"></i> OO-Metrics</h1>
    <p>A simple and powerful tool to automate source code mining and extract object-oriented metrics for help in the software development process.</p>
</div>