<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="HangfireContext" connectionString="Server=cwvf7xy9rb.database.windows.net;Database=oom-dev;User Id=raf;Password=PrYl06fRaVgXDxi;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>