<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="HangfireContext" connectionString="Server=cwvf7xy9rb.database.windows.net;Database=oom-dev;User Id=raf;Password=PrYl06fRaVgXDxi;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>