<div class="container">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-8 col-md-7 col-sm-6">
                <h1>Metrics page</h1>
                <p class="lead">A work in progress...</p>
            </div>
        </div>
    </div>
</div>
